{% extends "templates/ad_nav.twig" %}

{% block css %}
  <link rel="stylesheet" href="/assets/styles/login.css">
  <link rel="stylesheet" href="/assets/styles/addbook.css">
{% endblock %}

{% block body %}
<div class="mainn">

<div class = "flex1">
  <div class="subflex1"><h1>Increase Quality Books , {{session.username_ad}}.</h1></div>
  <div class="subflex2">Add/Delete Books Here.</div>
</div>

<div class="login-page">
  <div class="form">
    <form class="login-form" action="/add_book" method="POST">
      <input type="text" name="title" placeholder="Title"/>
      <input type="text" name="author" placeholder="Author"/>
      <input type="text" name="publisher" placeholder="Publisher"/>
      <input type="Number" name="numberofbooks" placeholder="Number of copies"/>
      <button class="btn btn-secondary" >Add Book</button>
    </form>
  </div>                          
</div>

<div class="allbookheading" ><h2>Remove Book</h2></div>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Titile</th>
    <th scope="col">Author</th>
    <th scope="col">Publisher</th>
    <th scope="col">Number of copies</th>
    <th scope="col">Remove Book</th>
  </tr>
  </thead>

  <tbody>
  {% for book in books %}
  <tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.numberofbooks }}</td>
    <td>
      <form action="/delete_book" method="POST">
        <input type="text" name="id" value= '{{ book.bookid }}' style="display:none;">
        <button type="submit" class="btn btn-outline-danger" >Delete</button>
      </form>
    </td>
  <tr>
  {% endfor %}
  </tbody>

</table>

</div>
{% endblock %}
