{% extends "templates/admin_nav.twig" %}

{% block css %}
  <link rel="stylesheet" href="/assets/styles/home.css" /> 
{% endblock %}

{% block body %}
<div class="mainn">

<div class = "flex1">
  <div class="subflex1"><h1>Want to feel powerful..??</h1></div>
  <div class="subflex2">Approve/Deny Check-in/Check-out requests here.. >|< </div>
</div>

<div class="allheading"><h2> Checkin/Checkout Requests </h2></div>
<div class="subtablehead"><h3> Check-Out Requests </h3></div>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Titile</th>
    <th scope="col">Author</th>
    <th scope="col">Copies Remaining</th>
    <th scope="col">Requester</th>
    <th scope="col">Approve Request</th>
    <th scope="col">Deny Request</th>
  </tr>
  </thread>

  <tbody>
  {% for book in checkoutbooks %}
  <tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.numberofbooks }}</td>
    <td>{{ book.user_id }}</td>
    <td>
      <form action="/approve_issue" method="POST">
        <input type="text" name="id" value= '{{ book.id }}' style="display:none;">
        <button type="submit" class="btn btn-outline-success" >Approve</button>
      </form>
    </td>
    <td>
      <form action="/deny_issue" method="POST">
        <input type="text" name="id" value= '{{ book.id }}' style="display:none;">
        <button type="submit" class="btn btn-outline-danger" >Deny</button>
      </form>
    </td>
  <tr>
  {% endfor %}
  </tbody>
</table>

<div class="subtablehead"><h3> Check-In Requests </h3></div>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Titile</th>
    <th scope="col">Author</th>
    <th scope="col">Check-out Time</th>
    <th scope="col">Requester</th>
    <th scope="col">Approve Request</th>
    <th scope="col" >Deny Request</th>
  </tr>
  </thead>

  <tbody>
  {% for book in checkinbooks %}
  <tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.checkout_time }}</td>
    <td>{{ book.user_id }}</td>
    <td>
      <form action="/approve_return" method="POST">
        <input type="text" name="id" value= '{{ book.id }}' style="display:none;">
        <button type="submit" class="btn btn-outline-success" >Approve</button>
      </form>
    </td>
    <td>
      <form action="/deny_return" method="POST">
        <input type="text" name="id" value= '{{ book.id }}' style="display:none;">
        <button type="submit" class="btn btn-outline-danger" >Deny</button>
      </form>
    </td>
  <tr>
  {% endfor %}
  </tbody>

</table>
</div>
{% endblock %}
