{% extends "templates/nav.twig" %}

{% block body %}
<div class="mainn">

  <div class = "flex1">
  <div class="subflex1"><h1>Looking for a read , {{session.username}} ?</h1></div>
  <div class="subflex2">Thriller, History or maybe some Poetry..</div>
  </div>

<table class="table table-bordered table-hover" >
  <thead class="thead-dark">
  <tr>
    <th scope="col" >Titile</th>
    <th scope="col" >Author</th>
    <th scope="col" >Publisher</th>
    <th scope="col" >Number of copies left</th>
    <th scope="col" > Issue </th>
  </tr>
  </thread>

  <tbody>
  {% for book in books %}
  <tr>
    <td scope="row" >{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.numberofbooks }}</td>
    <td>
      <form action="/user_issue" method="POST">
        <input type="text" name="bookid" value= '{{ book.bookid }}' style="display:none;">
         <input type="text" name="booknumber" value= '{{ book.numberofbooks }}' style="display:none;">
        <button type="submit" class="btn btn-outline-success">Issue Book</button>
      </form>
    </td>
  <tr>
  {% endfor %}
  </tbody>

</table>
</div>
{% endblock %}
