{% extends "templates/nav.twig" %}

{% block title %}My website home{% endblock %}

{% block css %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
}
  </style>
  <link rel="stylesheet" href="/assets/styles/home.css">
{% endblock %}

{% block body %}
<div class="mainn">
<div style=" align-items: center;padding-left: 25em;padding-bottom: 1em;"><h1>Looking for a read , {{session.username}} ?</h1></div>
<div style="padding-left:30em">Thriller, History or maybe some Poetry..</div>
<h2 style="padding: 2em 0em" > All Books </h2>

<table style="width:100%">
  <tr>
    <th>Titile</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Number of copies left</th>
    <th> Issue </th>
  </tr>

  {% for book in books %}
  <tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.numberofbooks }}</td>
    <td>
      <form action="/user_issue" method="POST">
        <input type="text" name="id" value= '{{ book.bookid }}' style="display:none;">
        <input type="submit" value="Issue Book">
      </form>
    </td>
  <tr>
  {% endfor %}
</table>
</div>
{% endblock %}
