{% extends "templates/nav.twig" %}

{% block title %}My website home{% endblock %}

{% block css %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
}
  </style>
  <link rel="stylesheet" href="/assets/styles/home.css">
{% endblock %}



{% block body %}
<div class="mainn">

<div class = "heading" ><h1 class = "heading" >Hello, {{session.username}} !!</h1></div>
<div style="padding-left:27em;padding-bottom:1em">Find your pending approvals and issued books here.. :)</div>

<h2 style="padding: 2em 0em" > Curently Issued Books </h2>

<table style="width:100%">
  <tr>
    <th>Titile</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Check-out time</th>
    <th>Check-in Request</th>
  </tr>

  {% for post in posts %}
  <tr>
    <td>{{ post.title }}</td>
    <td>{{ post.author }}</td>
    <td>{{ post.publisher }}</td>
    <td> {{ post.checkout_time }}</td>
    <td>
      <form action="/user_return" method="POST">
        <input type="text" name="id" value= '{{ post.id }}' style="display:none;">
        <input type="submit" value="Return Book">
      </form>
    </td>
  <tr>
  {% endfor %}
</table>

<h2 style="padding-top : 3em;padding-bottom : 1.5em"> Books pending for approval </h2>

<h3> Check-in </h3>
<table style="width:100%">
  <tr>
    <th>Titile</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Check-out time</th>
    <th>Check-in time</th>
  </tr>

  {% for checkin in checkins %}
  <tr>
    <td>{{ checkin.title }}</td>
    <td>{{ checkin.author }}</td>
    <td>{{ checkin.publisher }}</td>
    <td> {{ checkin.checkout_time }}</td>
    <td> {{ checkin.checkin_time }}</td>
  <tr>
  {% endfor %}
</table>

<h3 style="padding-top:2em"> Check-out </h3>
<table style="width:100%">
  <tr>
    <th>Titile</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Status</th>
  </tr>

  {% for checkout in checkouts %}
  <tr>
    <td>{{ checkout.title }}</td>
    <td>{{ checkout.author }}</td>
    <td>{{ checkout.publisher }}</td>
    <td> Pending </td>
  <tr>
  {% endfor %}
</table>

</div>
{% endblock %}
