{% extends "templates/nav.twig" %}

{% block css %}
  <link rel="stylesheet" href="/assets/styles/home.css" /> 
{% endblock %}

{% block body %}
<div class="mainn">

  <div class = "flex1">
  <div class="subflex1"><h1>Hello, {{session.username}} !!</h1></div>
  <div class="subflex2">Find your pending approvals and issued books here.. :)</div>
  </div>

<div class="allheading"><h2> Curently Issued Books </h2></div>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col" >Title</th>
    <th scope="col" >Author</th>
    <th scope="col" >Publisher</th>
    <th scope="col" >Check-out time</th>
    <th scope="col" >Check-in Request</th>
  </tr>
  </thread>

  <tbody>
  {% for post in posts %}
  <tr>
    <td>{{ post.title }}</td>
    <td>{{ post.author }}</td>
    <td>{{ post.publisher }}</td>
    <td> {{ post.checkout_time }}</td>
    <td>
      <form action="/user_return" method="POST">
        <input type="text" name="id" value= '{{ post.id }}' style="display:none;">
        <button type="submit" class="btn btn-outline-danger" >Return Book</button>
      </form>
    </td>
  <tr>
  {% endfor %}
  </tbody>
</table>

<div class="allheading heading3"><h2> Books pending for approval</h2></div>

<div class="subtablehead"><h3> Check-in </h3></div>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Titile</th>
    <th scope="col">Author</th>
    <th scope="col">Publisher</th>
    <th scope="col">Check-out time</th>
    <th scope="col">Check-in time</th>
  </tr>
  </thread>

  {% for checkin in checkins %}
  <tr>
    <td>{{ checkin.title }}</td>
    <td>{{ checkin.author }}</td>
    <td>{{ checkin.publisher }}</td>
    <td> {{ checkin.checkout_time }}</td>
    <td> {{ checkin.checkin_time }}</td>
  <tr>
  {% endfor %}
</table>

<div class="subtablehead"><h3> Check-out </h3></div>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Titile</th>
    <th scope="col">Author</th>
    <th scope="col">Publisher</th>
    <th scope="col">Status</th>
  </tr>

  {% for checkout in checkouts %}
  <tr>
    <td>{{ checkout.title }}</td>
    <td>{{ checkout.author }}</td>
    <td>{{ checkout.publisher }}</td>
    <td> Pending </td>
  <tr>
  {% endfor %}
</table>

</div>
{% endblock %}
