{% extends "templates/nav.twig" %}

{% block body %}

<div class="mainn">

<div style=" align-items: center;padding-left: 28em;padding-bottom: 1em;"><h1>Your previous reads...?</h1></div>
<div style="padding-left:33em;padding-bottom:4em">Keep incresing the stack >|<</div>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Titile</th>
    <th scope="col">Author</th>
    <th scope="col">Publisher</th>
    <th scope="col">Check-out time</th>
    <th scope="col">Check-in time</th>
    <th scope="col">Fine</th>
  </tr>
  </thread>

  <tbody>
  {% for history in historys %}
  <tr>
    <td>{{ history.title }}</td>
    <td>{{ history.author }}</td>
    <td>{{ history.publisher }}</td>
    <td> {{ history.checkout_time }}</td>
    <td> {{ history.checkin_time }}</td>
    <td> $0 </td>
  <tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
